pymongo==4.8.0
docker==5.0.3
docker-compose==1.29.2
uvicorn==0.30.6
pydantic==2.9.2
pydantic_core==2.23.4
fastapi==0.114.1
python-bidi==0.6.0
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-Levenshtein==0.25.1
python-multipart==0.0.9
python-slugify==8.0.4
psycopg2-binary
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
typer==0.12.5
typing_extensions==4.12.2